[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
bin/Debug/BetterAppInstaller.exe
bin/Debug/BetterAppInstaller.exe.config
bin/Debug/BetterAppInstaller.pdb
obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
obj/Debug/BetterAppInstaller.csproj.AssemblyReference.cache
obj/Debug/BetterAppInstaller.csproj.CoreCompileInputs.cache
obj/Debug/BetterAppInstaller.csproj.FileListAbsolute.txt
obj/Debug/BetterAppInstaller.csproj.GenerateResource.cache
obj/Debug/BetterAppInstaller.exe
obj/Debug/BetterAppInstaller.Form1.resources
obj/Debug/BetterAppInstaller.pdb
obj/Debug/BetterAppInstaller.Properties.Resources.resources
.vs/BetterAppInstaller/FileContentIndex/63c7c7d3-9dd6-4487-9843-dab562765dff.vsidx
.vs/BetterAppInstaller/FileContentIndex/6e723bca-7cd5-40bd-a118-6a41668b1efc.vsidx
.vs/BetterAppInstaller/FileContentIndex/9fcdb676-d162-41e8-a770-371e4fb7c475.vsidx
.vs/BetterAppInstaller/FileContentIndex/eec4a045-0621-45ee-8297-9765eb921943.vsidx
.vs/BetterAppInstaller/FileContentIndex/f03eaa4d-6751-4db5-a401-a996a46472d9.vsidx
.vs/BetterAppInstaller/FileContentIndex/b3b00a07-39fa-484b-b669-7d976afd085b.vsidx
*.vsidx
.vs/BetterAppInstaller/v17/.suo
.vs/
.vs/BetterAppInstaller
.vs/ProjectEvaluation
*.suo